.joinForm {
    position: relative;
    max-width: 544px;
    margin: 0 auto;
    .field {
        position: relative;
    }
    .fieldWrap {
        border: solid 2px #26272a;
        border-radius: 4px;
    }
    .fieldInput {
        background-color: #26272a;
        height: 90px;
        padding-top: 15px;
        border: 0;
        width: 100%;
        padding: 10px 60px 0 22px;
        background: #2a2a2a;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        &::placeholder {
            color: #adb7be;
            font-size: 16px;
        }
    }
    .joinBtn {
        background: transparent;
        position: absolute;
        top: 25%;
        right: 14px;
        height: 46px;
        padding: 10px;
        cursor: pointer;
        .icon {
            font-size: 28px;
            color: #fff;
            &:hover {
                color: #2f8be6;
            }
        }
    }
    .msg {
        color: #50595b;
        margin-top: 16px;
        text-align: center;
    }
}