.footerColumn {
    border-bottom: #2e2e2e solid 1px;
    border-top: #2e2e2e solid 1px;
    padding: 50px 0;
    overflow: hidden;
    .footerItem {
        margin-right: 60px;
    }
    .pullLeft {
        float: left;
    }
    .author {
        max-width: 110px;
        color: #50595b;
        display: -webkit-inline-box;
        display: inline-flex;
        flex-direction: column;
        height: 38px;
        justify-content: center;
        margin-left: 14px;
        vertical-align: middle;
        span {
            font-size: 12px;
        }
    }
    .pullRight {
        float: right;
        .count {
            margin-left: 60px;
            &:first-of-type {
                margin-left: 0;
            }
            display: inline-block;
            .number {
                font-size: 20px;
                line-height: 1;
                margin-bottom: 6px;
                display: block;
                color: #fff;
            }
            .caption {
                color: #50595b;
                font-size: 12px;
                line-height: 1;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footerColumn .pullLeft.footerResponsive {
        display: none;
    }
    .footerColumn .footerItem.margin {
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .footerColumn .pullRight {
        display: none;
    }
}