.product {
    padding: 100px 0 0;
    &.container {
        max-width: 1484px;
        margin: auto;
    }
    .avatar {
        background: url('https://images.ui8.net/res/robot/image/upload/thswb3xtl9t6xsr0yluk/1443685618.png');
        background-color: #484848;
        background-size: 100px 100px;
        border-radius: 50%;
        display: block;
        height: 100px;
        margin: 20px auto;
        width: 100px;
    }
    .seeMore {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-align: center;
    }
    .btnWrap {
        margin: 30px 0 50px;
        display: flex;
        justify-content: center;
        .btn {
            padding: 0 20px;
            font-size: 11px;
            color: #fff;
            text-transform: uppercase;
            height: 40px;
            border-radius: 4px;
            margin-left: 16px;
            display: flex;
            align-items: center;
        }
        .icon {
            font-size: 16px;
        }
        .btn.btnBlue {
            background: linear-gradient(-180deg, #399dff 0%, #297dcf 98%);
        }
    }
    .cards {
        margin: 0 auto;
        max-width: 986px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .product .cards {
        display: none;
    }
}