.item {
    list-style: none;
    display: flex;
    padding: 30px 0 21px;
    color: #484848;
    border-bottom: 1px solid #e8e8e8;
    .content {
        padding: 4px 0 4px 15px;
        min-height: 48px;
        .name {
            a {
                display: block;
                margin: 0 0 8px 0;
                font-size: 16px;
                line-height: 1;
                font-weight: 600;
                color: #555555;
            }
        }
        .message {
            display: block;
            margin: 0;
            padding: 0;
            font-size: 15px;
            font-weight: 300;
            word-wrap: break-word;
        }
        .meta {
            user-select: none;
            padding: 8px 0 0 0;
        }
    }
}


