.footerColumn {
    margin-bottom: 50px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    .footerColumnProduct {
        margin-right: 160px;
        h4 {
            font-size: 20px;
            font-weight: 300;
            line-height: 1;
            margin-bottom: 10px;
        }
        .listLink {
            color: #adb7be;
            display: block;
            font-size: 12px;
            line-height: 4.5;
            padding: 0;
            transition: .3s ease all;
            &:hover {
                color: #fff;
            }
        }
    }
    .pullLeft {
        float: left !important;
    }
    .footerMenu {
        &:not(:last-of-type) {
            margin-right: 90px;
        }
    }
    .join {
        margin: 6px 0 10px;
        width: 390px;
        .joinForm {
            position: relative;
            max-width: 544px;
            margin: 0 auto;
        }
        .joinField {
            position: relative;
            .fieldWrap {
                border: 2px solid #2a2a2a;
            }
            .fieldInput {
                height: 54px;
                padding: 0 15px 0 58px;
                background: #2a2a2a;
                border-radius: 2px;
                font-size: 14px;
                color: #fff;
                width: 100%;
            }
            .slackImg {
                height: 30px;
                left: 14px;
                position: absolute;
                top: 14px;
                vertical-align: middle;
                width: 30px;
            }
        }
        .btn {
            height: 38px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            padding: 10px;
            .icon {
                color: #fff;
                font-size: 22px;
                transition: .3s ease;
                &:hover {
                    color: #2f8be6;
                }
            }
        }
    }
    .signup {
        span {
            color: #50595b;
            font-size: 12px;
            line-height: 1;
        }
    }
    .socialLink {
        margin-top: 127px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            color: #fff;
            float: left;
            font-size: 20px;
        }
        .linkContainer {
            display: flex;
            float: right;
            justify-content: flex-end;
            .socialLink {
                float: right;
                margin: 0 20px;
            }
            .icon {
                font-size: 18px;
                color: #adb7be;
                margin: 0;
                transition: .3s ease all;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footerColumn .pullLeft.footerResponsive {
        display: none;
    }
    .footerColumn .pullLeft.pullRightReponsive {
        float: right !important;
    } 
    .footerColumn .footerColumnProduct {
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .footerColumn .pullLeft.pullLeft.pullRightReponsive {
        display: none;
    }
}